<p><%= t('Hello') + ' ' + @user.full_name %>,</p>

<p>
  <%= t("Your account was successfully reviewed by an administrator You can now log in here") %>
</p>

<%= link_to "Log in", new_user_session_url(locale: I18n.locale) %>
