<p><%= t('Hello') + ' ' + @user.full_name %>,</p>

<p>
  <%= t("Your child's account was successfully reviewed by an administrator You can manage it from your own account") %>
</p>

<%= link_to "Log in", new_user_session_url(locale: I18n.locale) %>
