<ul>
  <% group_id = current_user.in_lesson %>
  <% if group_id %>
    <li>
      <%= form_tag found_attendance_url do %>
        <%= hidden_field_tag :group_id, group_id %>
        <%= submit_tag t("Mark attendance"), class: "btn btn-primary" %>
      <% end %>
    </li>
  <% end %>
  <%= link_to t("Send message"), new_notification_path, class: "btn btn-light" %>
</ul>