<% provide(:title, t('About')) %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>INTERNATIONAL STUDY CENTRE for EDUCATIONAL OPPORTUNITIES (ISCEO)</b> это образовательный центр, который
        предлагает всем, кто заинтересован в личном развитие, с точки зрения академических компетенций и
        социально-эмоциональных навыков, возможность испытать, чего может достичь совместная работа по иностранным
        языкам и психологии.
      </p>
      <p>
        Мы начали свою карьеру в 2004 году, когда впервые в Молдове была организована команда хорошо подготовленных
        учителей, специализирующихся на преподавании английского языка и психологии, с опытом работы в школах из
        Великобритании и США. Этот уникальный проект под названием "Opportunities for Everyone" прекрасно сочетает в
        себе отдых, веселье и обучение. Взаимодействие трех программ: веселого, поучительного и образовательного
        осуществлялось по принципу "смешивание преятным с полезным". Четыре года подряд (2004-2007) наша команда
        работала с 478 детьми, потому что в 2008 году по просьбе наших учеников мы организовали нашу первую поездку
        в Великобританию.
      </p>
    </div>
    <div class="col-sm-4">
      insert image
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      insert image
    </div>
    <div class="col-sm-8">
      <p>
        Следующие пять лет (2008-2012 гг.) послужили пятью цтенным шагов в нашем профессиональном росте, которые привели
        к установлению ценных партнерских отношений с образовательными учреждениями в Великобритании, Европе и США.
        Мы являемся официальными представителями британской компании Studio Cambridge в Республике Молдова с лета
        2008 года. Поэтому родители в нашей стране могут устанавливать отношения со Studio Cambridge без каких-либо
        других посредников и, соответственно, без дополнительных затрат на их услуги. В этот период 94 молдавских
        ученика наслаждались великим британским акцентом, спокойствием и зеленью английских пейзажей, королевской
        трезвостью средневековых замков, великой архитектурой городов, дисциплиной и, в то же время, простотой и
        позитивизмом людей. Кроме того, у нас есть ученики, которые продолжают обучение в британских, европейских и
        американских средних школах, колледжах и университетах.
      </p>
      <p>
        На протяжении многих лет мы были удостоены звания консультантов в области образования для King's School Ely,
        Cambridge Centre for Six-Form Studies, Cambridge Academy of English, Bellerbys College, CATS College,
        International Projects, Actilingua Academy. В 2013 году, когда отмечалось 10-летие нашей работы, мы предложили
        новые образовательные возможности (школы выходного дня, персонализированные курсы английского языка для детей
        и взрослых) наряду с уже существующими (школы для отдыха в Республике Молдова и Соединенном Королевстве).
        Впервые Международный центр образовательных возможностей в партнерстве со Studio Cambridge провел English Skills
        Championship (ESC), который продолжился в 2014 году в партнерстве с King's School Ely. В рамках него победители
        первой премии получили стипендии в летних школах в Великобритании. Как мы привыкли, мы продолжаем предлагать
        качество в подготовке наших студентов к жизни, которая их ожидает.
      </p>
    </div>
  </div>
</div>

