<% provide(:title, t('Academic program')) %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>International Study Centre for Educational Opportunities</b> oferă un program de studiere a limbii engleze
        diferit de altele prin abordarea individuală a fiecărui elev, grupurile mici de studiu, sisteme standardizate,
        valide, fidele şi obiective de testare, literatura editată în Marea Britanie de celebrele edituri Oxford şi
        Cambridge, oferte variate în funcţie de vîrsta şi dorinţele elevilor.
      </p>
    </div>
    <div class="col-sm-4">
      insert image
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      insert image
    </div>
    <div class="col-sm-8">
      <p>
        <b>1. LIMBA STRĂINĂ cu PERSONALITATE.</b> La ISCEO metodele moderne din domeniul Psihologiei învăţării unei
        Limbi străine sunt adaptate la particularităţile individuale ale fiecărui elev. Sub îndrumarea profesionistă
        a psihologilor noştri, Limba Străină lucrează în tandem cu Psihologia, de aceea la ISCEO se face Limba Străină
        cu Personalitate.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>2. GRUPURI MICI de STUDIU.</b> Ora de limbă străină la ISCEO se realizează cu grupuri mici, a cîte 2-6 elevi
        fiecare, fapt care facilitează socializarea elevilor, oferind totodată spaţiul temporal necesar manifestării
        individualităţii fiecăruia. Vîrsta şi nivelul de dezvoltare a competenţelor lingvistice sunt criteriile
        fundamentale care stau la baza formării grupurilor de studiu.
      </p>
    </div>
    <div class="col-sm-4">
      insert image
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      insert image
    </div>
    <div class="col-sm-8">
      <p>
        <b>3. TESTAREA NIVELULUI de DEZVOLTARE a COMPETENŢELOR LINGVISTICE</b> este primul pas în abordarea
        individuală a fiecărui elev. Obişnuim să administrăm şi o baterie de teste psihologice, la dorinţa fie a
        elevului sau a părinţilor acestuia, pentru a elabora o strategie de lucru cît mai fidelă portretului psihologic
        al elevului.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>4. LITERATURA EDITATĂ de OXFORD şi CAMBRIDGE</b> este un instrument valoros în activitatea pe care o
        desfaşurăm. Manualele insoţite de caieţele de lucru, CD-uri şi discuri audio/video sunt apte să trezească şi
        să menţină optimul motivaţional al elevilor noştri. Mai mult ca atît, acestea sunt şi o sursă preţioasă de
        activitate independentă în afara orelor de curs.
      </p>
    </div>
    <div class="col-sm-4">
      insert image
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      insert image
    </div>
    <div class="col-sm-8">
      <p>
        <b>5. OFERTE VARIATE pentru FIECARE VÎRSTĂ.</b> ISCEO oferă calitate şi continuitate prin oportunităţile
        educaţionale multiple create pentru vîrste diferite: copii, preadolescenţi/adolescenţi, tineri, adulţi în
        vederea creşterii acestora atît în plan academic cît şi personal.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>6. OPORTUNITĂŢI EDUCAŢIONALE MULTIPLE.</b> Serviciile diversificate pe care le prestăm transformă limba
        străină dintr-o materie şcolară într-o motivaţie lingvistică aptă de a ne ghida discipolii în cadrul
        situaţiilor reale de viaţă: de la lecţii audio/ video la discuţii cu vorbitori nativi, atît pe parcursul
        anului academic, cît şi în cadrul şcolilor de vacanţă, cu sejur de zi şi nocturn, pe care le oferim cu multă
        pasiune.
      </p>
    </div>
    <div class="col-sm-4">
      insert image
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      insert image
    </div>
    <div class="col-sm-8">
      <p>
        <b>7. PREGĂTIREA pentru EXAMENE NAŢIONALE</b> (Bacalaureat) <b>şi INTERNAŢIONALE</b> (TOEFL şi IELTS) vine în
        susţinerea doritorilor de a-şi îmbunătăţi rezultatele şcolare în Republica Moldova şi a celora care urmează
        să-şi continue studiile în străinătate. Acest curs se realizează atît pe parcursul anului academic, cît şi în
        cadrul şcolilor de vacanţă, cînd discipolii noştri au ocazia de a-şi exersa competenţele lingvistice în
        discuţii cu vorbitorii nativi.
      </p>
    </div>
  </div>
</div>

