<% provide(:title, t('Getting ready for school')) %>
<table style="width:100%">
  <tr style="height: 50px;">
    <th style="background-color: DARKRED"></th>
    <th style="background-color: LIGHTSALMON"></th>
    <th style="background-color: RED"></th>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: PINK"></td>
    <td style="background-color: HOTPINK"></td>
    <td style="background-color: ORANGE"></td>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: YELLOW"></td>
    <td style="background-color: PURPLE"></td>
    <td style="background-color: VIOLET"></td>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: LIME"></td>
    <td style="background-color: SEAGREEN"></td>
    <td style="background-color: DARKGREEN"></td>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: TEAL"></td>
    <td style="background-color: TURQUOISE"></td>
    <td style="background-color: DEEPSKYBLUE"></td>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: DARKBLUE"></td>
    <td style="background-color: DARKGRAY"></td>
    <td style="background-color: BROWN"></td>
  </tr>
  <tr style="height: 50px;">
    <td style="background-color: DARKSLATEGRAY"></td>
    <td style="background-color: DARKGRAY"></td>
    <td style="background-color: TAN"></td>
  </tr>
</table>