<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" max-width="1900">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("carousel_1_1.jpg", :alt => "First slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_2_1.jpg", :alt => "Second slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_3_1.jpg", :alt => "Third slide", :class => "d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>International Study Centre for Educational Opportunities (ISCEO)</b> este un centru educaţional care le
        oferă tuturor celor interesaţi de dezvoltarea personală şansa de a trăi experienţa lucrului în tandem al
        Limbilor străine cu Psihologia.
      </p>
      <p>
        Învăţarea unei limbi străine este un adevărat eveniment social, diferit de învăţarea oricărei alte discipline
        şcolare, deoarece limba aparţine laturii sociale a fiinţei umane şi ea este parte a identităţii acesteia.
        Învăţarea limbii străine implică mult mai multe decît doar abilităţi de învăţare sau sistem de reguli, ori
        gramatică; ea implică o schimbare a imaginii de sine, adoptarea unor comportamente noi din punct de vedere
        social şi cultural, a unor feluri de a fi şi de aceea impactul ei asupra laturii sociale a personalităţii
        (indiferent de vîrstă) este foarte semnificativ.
      </p>
      <p>
        Suntem bucuroşi să Vă împărtăşim ceea ce cunoaştem pentru a Vă ajuta să deveniţi ceea ce aţi fi, astfel încît,
        asemeni <a href="https://valydo.files.wordpress.com/2008/01/pescarusul-jonathan-livingstone.pdf"> pescăruşului
        lui Richard Bach</a>, să puteţi să Vă ridicaţi deasupra mulţimii, valorificîndu-Vă la maxim potenţialul cu care
        sunteţi înzestraţi, fiindcă dintre toate adevărurile minunate referitoare la suflet care au fost regăsite şi
        scoase la lumină de către marii gînditori ai secolului 20, nici unul nu e mai îmbucurător sau mai plin de
        promisiuni divine şi încredere decît acesta:
      </p>
    </div>
    <div class="col-sm-4">
      Insert image
    </div>
  </div>
  <div class="row col-sm-12">
    <blockquote class="blockquote text-right">
      <p class="mb-0">
        Omul e stăpînul gîndirii, modelatorul caracterului, făcătorul şi modelatorul situaţiilor, mediului şi
        destinului. Ca fiinţă a Puterii, Inteligenţei şi Iubirii şi stăpîn al propriilor gînduri, omul deţine cheia
        oricărei situaţii şi are în sine acea forţă transformatoare şi regeneratoare prin care face din el însuşi ceea
        ce vrea.
      </p>
      <div class="blockquote-footer">James Allen (1864-1912)</div>
    </blockquote>
  </div>
</div>
