<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" max-width="1900">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("carousel_1_1.jpg", :alt => "First slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_2_1.jpg", :alt => "Second slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_3_1.jpg", :alt => "Third slide", :class => "d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <b>International Study Centre for Educational Opportunities (ISCEO)</b> is an educational centre that offers the
        chance to experience Foreign languages working together with Psychology to everyone interested in it personal
        development.
      </p>
      <p>
        Learning a foreign language can be considered to be a social event, different from any other school subject,
        because a language belongs to the social part of the human nature, it is part of a human's identity. Studying a
        foreign language involves a lot more than just someone's ability to learn and understand a set of well defined
        rules, or it's grammar; it involves a change in one's perception of themselves, adopting a new behavior from the
        social and cultural point of view and that's why its impact on your life's social aspect and on your personality
        (regardless of age) is very significant.
      </p>
      <p>
        We are happy to share what we know to help You become what You can be, so that just like
        <a href="https://valydo.files.wordpress.com/2008/01/pescarusul-jonathan-livingstone.pdf">Richard Bach's seagull</a>
        You can raise over the crowd, harnessing all your potential, because out of all the amazing truths regarding a
        human's soul that were developed and expressed by the great thinkers of the 20<sup>th</sup> century, none is more
        gratifying that this one:
      </p>
    </div>
    <div class="col-sm-4">
      Insert image
    </div>
  </div>
  <div class="row col-sm-12">
    <blockquote class="blockquote text-right">
      <p class="mb-0">
        Man is made or unmade by himself. By the right choice he ascends. As a being of power, intelligence, and love,
        and the lord of his own thoughts, he holds the key to every situation.
      </p>
      <div class="blockquote-footer">James Allen (1864-1912)</div>
    </blockquote>
  </div>
</div>
