<% provide(:title, t('International camps')) %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        В преддверии летних каникул родители обычно задаются вопросом, как организовать праздник своих детей как можно
        более интересным и эффективным, потому что всем нужно время для веселья, занятий спортом, общения, а также для
        роста, например, в изучении иностранного языка. Идеальным решением может быть поездка в один из международных
        лингвистических центров, где дети будут знакомиться с историей и культурой страны, заводить новых друзей со
        всех уголков мира и понимать, что иностранный язык должен и может быть освоен намного легче, в увлекательные
        уроки, организованные носителями языка.
      </p>
      <p>
        ISCEO дает родителям возможность исполнить их желания и приглашает детей и молодых людей (в возрасте от 9 до
        19 лет) посещать летние школы, организованные в Великобритании, Европе и США. Вы можете выбрать одну из
        программ, которые мы предлагаем, в зависимости от языка, который вы хотите изучать, вашего возраста и
        предпочитаемой страны. Это предложение предназначено как для отдельных лиц, так и для групп.
      </p>
      <p>
        Выбирая услуги ISCEO, вы получаете уникальную возможность сочетать изучение языка с расслабляющими, веселыми и
        увлекательными экскурсиями. Организаторы берут на себя ответственность за оказание поддержки родителям в
        подготовке комплекта необходимых проездных документов и сопровождении детей в программу (в групповой поездке),
        что за десять лет нашей деятельности оказалось важным фактором обеспечения благоприятного психологического
        состояния. климат для детей и их родителей.
      </p>
      <p>
        В конце программы участники получают сертификат, отражающий лингвистический прогресс в течение курса,
        свидетельствующий о текущем уровне компетентности и языковой эффективности.
      </p>
    </div>
    <div class="col-sm-4">
      insert imagae
    </div>
  </div>
</div>