<% provide(:title, t('Vacation school')) %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        Программа «Английская школа общения» предлагает детям, заинтересованным в изучении английских, британских и
        американских традиций, возможность практиковать язык и совершенствовать свои лингвистические навыки.
        Образовательный и развлекательный характер курса создает оптимальную атмосферу для обучения, отдыха и общения
        в среде, где английский является единственным языком общения людей. Программа основана на британской модели
        организации школы каникул.
      </p>
      <h4>ИНСТРУКЦИОННО-ОБРАЗОВАТЕЛЬНАЯ СТРУКТУРА</h4>
      <p>
        Учебно-воспитательная структура создается в течение академических часов, которые значительно отличаются от
        обычных уроков характером мотивирующей динамики и тем фактом, что различные школьные предметы преподаются
        только на английском языке. Дети (в группах по 7-10 человек) учатся:
      </p>
      <ul>
        <li>Английский язык и культура общения;</li>
        <li>Социальные науки;</li>
        <li>Кулинарное искусство;</li>
        <li>Драматические и театральные постановки;</li>
        <li>Социальные искусства.</li>
      </ul>
      <p>
        Личное развитие детей проходит на психологических тренингах, которые профессионально проводят наши психологи.
        Во время учебных занятий мы помогаем детям раскрыть себя и других, привносить интеллект в переживаемые ими
        эмоции, выражать и строить гармоничные межличностные отношения с другими.
      </p>
      <h4>ЗАБАВНАЯ СТРУКТУРА</h4>
      <p>
        Исходя из того, что участники все еще находятся в отпуске и мечтают оторваться от школьной рутины, мы
        разработали программу, насыщенную различными веселыми мероприятиями. Эта программа включает в себя широкий
        спектр социальных и культурных мероприятий, при этом дети поощряются в соответствии с их любимым:
      </p>
      <ul>
        <li>Музыкальное образование;</li>
        <li>Природные науки;</li>
        <li>Языковые клубы;</li>
        <li>Кино;</li>
        <li>Музыкальные и танцевальные выступления.</li>
      </ul>
    </div>
    <div class="col-sm 4">
      image x3
    </div>
  </div>
</div>