<% provide(:title, t('Vacation school')) %>

<div class="container">
  <div class="row">
    <p class="col-sm-12">
      The "English School for Communication" program offers children interested in studying English, British and
      American traditions a possibility to practice the language and improve their linguistics skills. The educational
      and entertaining character of the course creates an optimal ambiance for learning, relaxing and socializing
      in an environment where English is the only language people communicate in. The program is based on the British
      model of organising a vacation school.
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-7 static">
      <h4>INSTRUCTION-EDUCATIONAL STRUCTURE</h4>
      <p>
        The instructional-educational structure is done during the academic hours, which differ significantly from the
        ordinary lessons by the Motivating Dynamic character and the fact that various school subjects are taught only
        in English. The children (in groups of 7-10 students) study:
      </p>
      <ul>
        <li>English Language and Communication Culture;</li>
        <li>Social Sciences;</li>
        <li>Culinary art;</li>
        <li>Drama and Theatrical Performances;</li>
        <li>Social Arts.</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <%= image_tag 'vacation_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'vacation_2.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
    <p class="col-sm-7 static">
      Personal development of children takes place in psychological trainings professionally conducted by our
      psychologists. During training sessions, we help children discover themselves and others, give intelligence to
      the emotions they live, express and build harmonious interpersonal relationships with others.
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-7">
      <h4>FUN STRUCTURE</h4>
      <p>
        Based on the fact that the participants are still on vacation and dreaming at a break away from the school
        routine, we have developed a program rich in various fun activities. This program includes a wide variety of
        social and cultural activities, with children being encouraged to fit in with their favorite one:
      </p>
      <ul>
        <li>Musical education;</li>
        <li>Natural Sciences;</li>
        <li>Language clubs;</li>
        <li>Cinema;</li>
        <li>Music and dance performances.</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <%= image_tag 'vacation_3.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
</div>