<% provide(:title, t('Weekend school')) %>

<div class="container">
  <div class="row">
    <p class="col-sm-7 static">
      Дух Школ каникул поддерживается и развивается благодаря Школе выходных, которая проводится каждую субботу,
      начиная с сентября. Мы предлагаем новый формат мероприятия, который включает в себя предложения для всех
      возрастов и вкусов. С ISCEO очарование праздничных дней живет круглый год.
    </p>
    <div class="col-sm-5">
      <%= image_tag 'weekend_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br>
      <br>
      <h4>Пример ежедневного расписания</h4>
      <br>
      <br>
      <table class="table table-hover" style="text-align: center">
        <thead>
        <tr>
          <th>#</th>
          <th>Время</th>
          <th>Деятельность</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1.</th>
          <td> 10:00-10:45</td>
          <td>Урок 1</td>
        </tr>
        <tr>
          <th>2.</th>
          <td> 10:55-11:40</td>
          <td>Урок 2</td>
        </tr>
        <tr>
          <th>3.</th>
          <td> 11:50-12:35</td>
          <td>Урок 3</td>
        </tr>
        <tr>
          <th>4.</th>
          <td> 12:40-13:05</td>
          <td>Обед</td>
        </tr>
        <tr>
          <th>5.</th>
          <td> 13:10-13:55</td>
          <td>Урок 4</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>