<% provide(:title, t('Weekend school')) %>

<div class="container">
  <div class="row">
      <p class="col-sm-7 static">
        The spirit of the Vacation Schools is kept alive and active through the Weekend School that is being held every
        Saturday starting in September. We propose a new event format that includes offers for all ages and tastes.
        With ISCEO, the charm of holiday days lives all year round.
      </p>
    <div class="col-sm-5">
      <%= image_tag 'weekend_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br>
      <br>
      <h4>Example of a daily timetable</h4>
      <br>
      <br>
      <table class="table table-hover" style="text-align: center">
        <thead>
        <tr>
          <th>#</th>
          <th>Time</th>
          <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1.</th>
          <td> 10:00-10:45</td>
          <td>Lesson 1</td>
        </tr>
        <tr>
          <th>2.</th>
          <td> 10:55-11:40</td>
          <td>Lesson 2</td>
        </tr>
        <tr>
          <th>3.</th>
          <td> 11:50-12:35</td>
          <td>Lesson 3</td>
        </tr>
        <tr>
          <th>4.</th>
          <td> 12:40-13:05</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <th>5.</th>
          <td> 13:10-13:55</td>
          <td>Lesson 4</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  </div>