<% provide(:title, t('Weekend school')) %>

<div class="container">
  <div class="row">
    <p class="col-sm-7 static">
      Spiritul Şcolilor de Vacanţă se menţine viu şi activ prin intermediul Şcolii de Weekend care se realizează în
      fiecare sîmbătă începînd cu luna septembrie. Va propunem un nou format de eveniment care include oferte pentru
      toate vîrstele şi gusturile. Cu ISCEO farmecul zilelor de vacanţă trăieşte tot anul. Vă aşteptăm cu drag.
    <div class="col-sm-5">
      <%= image_tag 'weekend_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br>
      <br>
      <h4>Exemplu de Orar zilnic</h4>
      <br>
      <br>
      <table class="table table-hover" style="text-align: center">
        <thead>
        <tr>
          <th>#</th>
          <th>Ora</th>
          <th>Activitatea</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1.</th>
          <td> 10:00-10:45</td>
          <td>Lecția 1</td>
        </tr>
        <tr>
          <th>2.</th>
          <td> 10:55-11:40</td>
          <td>Lecția 2</td>
        </tr>
        <tr>
          <th>3.</th>
          <td> 11:50-12:35</td>
          <td>Lecția 3</td>
        </tr>
        <tr>
          <th>4.</th>
          <td> 12:40-13:05</td>
          <td>Prânz</td>
        </tr>
        <tr>
          <th>5.</th>
          <td> 13:10-13:55</td>
          <td>Lecția 4</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>