<% provide(:title, t("Children's workshop")) %>

<div class="container">
  <div class="row">
    <p class="col-sm-7 static">
      Pînă nu demult conceptul de <b>Inteligenţă Cognitivă</b> (IQ) a dominat imaginea societăţii asupra potenţialului
      uman,
      reprezentînd, în acelaşi timp, un standard de definire a excelenţei în viaţă. Paradoxul apărea în situaţia în
      care o persoană cu un nivel ridicat al IQ-ului nu da dovadă de performanţe înalte, în timp ce o altă persoană,
      cu un IQ modest, se descurca surprinzător de bine în viaţă. Karen Arnold, profesor de pedagogie la Universitatea
      din Boston, susţine că inteligenţa cognitivă, care este de obicei cuantificată prin note, nu pregăteşte persoana
      pentru situaţiile complexe ale vieţii. Un IQ ridicat nu este o garanţie a prosperităţii, prestigiului sau
      fericirii în viaţă. Savanţii au ajuns la concluzia că responsabilă de această diferenţă, cel mai adesea, se face
      <b>Inteligenţa Emoţională</b> (IE), concept definit în mod formal în 1990 de către John Mayer şi Peter Solovey şi
      dezvoltat în continuare de Daniel Goleman.
    </p>
    <div class="col-sm-5">
      <%= image_tag 'workshop_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'workshop_2.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
    <div class="col-sm-7 static">
      <p class="static-accademic">
        Inteligenţa emoţională reprezintă abilitatea unei persoane de a fi în stare să se motiveze şi să persevereze în
        faţa frustrărilor, să-şi stăpînească impulsurile şi să amîne satisfacţiile, să-şi regleze stările de spirit şi
        să
        împiedice blocarea activităţii gîndirii de către emoţii. Goleman menţiona că cei care au capacităţi emoţionale
        bine dezvoltate au şi mai multe şanse să fie mulţumiţi şi eficienţi în viaţă, să-şi stăpînească obiceiurile
        mintale care stau la baza propriei lor productivităţi.
      </p>
      <p>
        ISCEO le oferă copiilor şi adolescenţilor un curs de creştere personală şi dezvoltare a inteligenţei emoţionale
        care devin un imperativ al timpurilor noastre.
      </p>
    </div>
  </div>

</div>