<% provide(:title, t("Children's workshop")) %>

<div class="container">
  <div class="row">
    <p class="col-sm-7 static">
      Until recently, the concept of <b>Cognitive Intelligence</b> (IQ) dominated the image of society on human potential,
      while at the same time representing a standard for defining excellence in life. The paradox occurs when a person
      with a high level of IQ does not show high performance, while another person, with a modest IQ, is doing
      surprisingly well in life. Karen Arnold, professor of pedagogy at the University of Boston, argues that cognitive
      intelligence, which is usually quantified by grades, does not prepare the person for the complex situations of
      life. A high IQ is not a guarantee of prosperity, prestige or happiness in life. Scientists have come to the
      conclusion that <b>Emotional Intelligence</b> (IE), a concept formally defined in 1990 by John Mayer and Peter Solovey
      and further developed by Daniel Goleman, is most often responsible for this difference.
    </p>
    <div class="col-sm-5">
      <%= image_tag 'workshop_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'workshop_2.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
    <div class="col-sm-7 static">
      <p class="static-accademic">
        Emotional intelligence is the ability of a person to be able to motivate and persevere in the face of
        frustrations, to master his impulses and to postpone rewards, to regulate his states of mind and to prevent the
        activity of thought from blocking emotions. Goleman noted that those with well-developed emotional capabilities
        are even more likely to be content and effective in life, to master the mental habits that underlie their own
        productivity.
      </p>
      <p>
        ISCEO is offering children and adolescents a course of personal growth and development of their emotional
        intelligence that become imperative in our time.
      </p>
    </div>
  </div>

</div>