<% provide(:title, t("Children's workshop")) %>

<div class="container">
  <div class="row">
    <p class="col-sm-7 static">
      До недавнего времени концепция <b>когнитивного интеллекта</b> (IQ) доминировала над образом общества на человеческом
      потенциале, в то же время представляя стандарт для определения превосходства в жизни. Парадокс возникает, когда
      человек с высоким уровнем IQ не показывает высокую производительность, в то время как другой человек со скромным
      IQ делает на удивление хорошие результаты в жизни. Карен Арнольд, профессор педагогики в Бостонском университете,
      утверждает, что когнитивный интеллект, который обычно определяется количественно, не подготавливает человека к
      сложным жизненным ситуациям. Высокий IQ не является гарантией процветания, престижа или счастья в жизни. Ученые
      пришли к выводу, что <b>Эмоциональный интеллект</b> (IE), концепция, формально определенная в 1990 году Джоном
      Майером и Питером Соловей и получившая дальнейшее развитие у Дэниела Голмана, чаще всего ответственна за это
      различие.
    </p>
    <div class="col-sm-5">
      <%= image_tag 'workshop_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'workshop_2.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
    <div class="col-sm-7 static">
      <p class="static-accademic">
        Эмоциональный интеллект - это способность человека быть способным мотивировать и проявлять настойчивость перед
        лицом разочарований, справляться со своими импульсами и откладывать вознаграждение, регулировать состояние
        своего сознания и предотвращать блокирование эмоций в мышлении. Гольман отметил, что люди с хорошо развитыми
        эмоциональными способностями еще более склонны быть довольными и эффективными в жизни, чтобы освоить умственные
        привычки, лежащие в основе их собственной продуктивности.
      </p>
      <p>
        ISCEO предлагает детям и подросткам курс личностного роста и развития их эмоционального интеллекта, который
        становится обязательным в наше время.
      </p>
    </div>
  </div>

</div>