<% provide(:title, t('Error') +  '500') %>

<h1><%= t('Looks like something went wrong!') %></h1>
<h3><%= t("We'll try to fix this problem as soon as possible, but if the problem persists feel free to contact us.")%></h3>